@tailwind base;
@tailwind components;
@tailwind utilities;

/* Typing cursor */
.blinking {
  animation: blink 1s step-end infinite;
}
@keyframes blink {
  50% { opacity: 0; }
}

/* Smooth scroll behavior */
html {
  scroll-behavior: smooth;
}

